<section class="nav">
  <div class="container">
    <div class="settingsItem icons-container">
      <a href="/settings">
        <i class="fas fa-home"></i>
      </a>
    </div>
    <div class="settingsItem icons-container">
      <a href="/settings">
        <i class="fas fa-cog"></i>
      </a>
    </div>
    <div class="scheduleItem icons-container">
      <a href="/schedule">
        <i class="fas fa-clock"></i>
      </a>
    </div>
  </div>
</section>
