<%- include('../partials/head') %>



  <section class="status">
    <div class="item temp">
      Temp
      <svg viewBox="0 0 36 36">
        <path d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831" fill="none" stroke="#0000ff" ; stroke-width="3" ; />
      </svg>
    </div>
    <div class="item humidity">
      Humidity
      <svg viewBox="0 0 36 36">
        <path d="M18 2.0845
      a 15.9155 15.9155 0 0 1 0 31.831
      a 15.9155 15.9155 0 0 1 0 -31.831" fill="none" stroke="#0000ff" ; stroke-width="3" ; />
      </svg>
    </div>
  </section>
<%- include('../partials/nav') %>
<%- include('../partials/foot') %>
